h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-decoration-line: underline;

}
#topbox{
    background: darkseagreen;
}
h2{
    color: orange;
    font-family: Arial, Helvetica, sans-serif
}
ol{
    color: firebrick;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.goalsUL{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: 900;
}
body{
    background-color: azure;
}
.home_image{
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar{
    display: block;
    list-style-type: none;
    width:auto;
    padding:8px;
    background:#333;
    margin:0;
    height:auto;
    border: 3px solid black;
    overflow:hidden;
}
#navbarLI{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline;
    color:rgb(255, 255, 255);
    padding: 8px 2px;
    margin:0;
    text-decoration: none;
}